<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.dao.OrderDao">

    <insert id="add">
        insert into t_order(order_name, order_money, product_id, order_status, member_id)
        values (#{orderName}, #{orderMoney}, #{productId}, #{orderStatus}, #{memberId})
    </insert>
</mapper>